<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../CSS/estilos.css">
</head>

<footer class="fijo">
    <div class="colum4 imagenPequeña juntarMQ">
        <a href="./../estudis.html">
          <img src="./../../img/earth-americas.svg">
        </a>
    </div>
    <div class="colum4 imagenPequeña imagenDerecha">
        <a href="./experience.html">
            <img src="./../../img/signs-post-solid.svg">
        </a>
    </div>
    <div class="colum4 imagenPequeña">
        <a href="./education.html">
            <img src="./../../img/school-solid.svg">
        </a>
    </div>
    <div class="colum4 imagenPequeña">
        <a href="./index_en.html">
            <img src="./../../img/address-card-solid.svg">
        </a>
    </div>
</footer>

    <div class="colum3">
        <h1 id="section3">Regulated training / studies</h1>            
        <p><strong>Studying </strong> the second year of intermediate level vocational training in computer science Joan XXIII Study Center </p>
        <p><strong>2020</strong> Compulsory Secondary Education (ESO) Can Vilumara Study Center</p>        
    </div>
    <div class="colum3">
        <h1>non-working activities</h1>
        <p>"I am a monitor at a leisure center voluntarily or during the main festivities of Hospitalet.</p>        
    </div>
    <div class="colum3">
        <h1>Further training</h1>
        <p>I have studied English at Language House</p>        
    </div>
</div>
<div class="colum1">
    <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1130475681634!2d2.1072971999999908!3d41.34989649999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sCentro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1683819029261!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>