<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../CSS/estilos.css">
    <title>Curriculum</title>
</head>
<body>
    <footer class="fijo">
        <div class="colum4 imagenPequeña juntarMQ">
            <a href="./../../index.html">
              <img src="../../img/earth-americas.svg">
            </a>
        </div>
        <div class="colum4 imagenPequeña imagenDerecha">
            <a href="./experience.html">
                <img src="../../img/signs-post-solid.svg">
            </a>
        </div>
        <div class="colum4 imagenPequeña">
            <a href="./education.html">
                <img src="../../img/school-solid.svg">
            </a>
        </div>
        <div class="colum4 imagenPequeña">
            <a href="index_en.html">
                <img src="../../img/address-card-solid.svg">
            </a>
        </div>
    </footer>
    <div id="seccion1" class="row fondo1">
        <div class="colum2 fondo2">
            <h1 class="textoEnMedio">Marcos Felix Hernandez</h1>
        </div>
        <div class="colum2">
            <img class="imagen" src="../../img/marcos.jpg" width="500">
        </div>
    </div>
    <div class="row">
        <div class="colum1">
            <h1 id="seccion4">Who am i</h1>
        </div>
        <p>I am a person who has very good social skills so it is never difficult for me to integrate into groups, I am also a hard-working person involved in everything I do and who does not like to leave things half done</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fENYVmV0NpI?si=Kt4xBQ2l_g4TUoUF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>    
    </div>
    <div class="row">
        <div class="colum1">
            <h1>Professional objective</h1>
        </div>
        <p>My professional goal is to learn as much as possible and develop my computer skills. The fact of growing professionally motivates me a lot, I have confidence in my social skills to integrate.</p>    
    </div>
   
    <div class="colum1">
        <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.1130475681634!2d2.1072971999999908!3d41.34989649999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498d64bd023fd%3A0x26089fc39cb352a3!2sCentro%20de%20Estudios%20Joan%20XXIII!5e0!3m2!1ses!2ses!4v1683819029261!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <div class="row">
        <div class="colum2">
            <div>
                <h1>Personal Skills</h1>
            </div>
            <div class="centro">
                <table border="2">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Learning</th>
                            <th>Competent</th>
                            <th>Expert</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Autonomy</td>
                            <td></td>
                            <td><strong>X</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Initiative</td>
                            <td></td>
                            <td><strong>X</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Work organization</td>
                            <td></td>
                            <td><strong>X</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Teamwork</td>
                            <td></td>
                            <td></td>
                            <td><strong>X</strong></td>
                        </tr>
                        <tr>
                            <td>Communication</td>
                            <td></td>
                            <td></td>
                            <td><strong>X</strong></td>
                        </tr>
                        <tr>
                            <td>Flexibility to changes</td>
                            <td></td>
                            <td></td>
                            <td><strong>X</strong></td>
                        </tr>
                        <tr>
                            <td>Commitment</td>
                            <td></td>
                            <td></td>
                            <td><strong>X</strong></td>
                        </tr>
                        <tr>
                            <td>Leadership</td>
                            <td></td>
                            <td><strong>X</strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="colum2">
            <div>
                <h1>Languages</h1>
            </div>
            <div class="centro2">
                <table border="2">
                    <thead>
                        <tr>
                        <th></th>
                            <th>Learning</th>
                            <th>Competent</th>
                            <th>Expert</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Spanish</td>
                            <td></td>
                            <td></td>
                            <td><strong>X</strong></td>
                        </tr>
                        <tr>
                            <td>Catalan</td>
                            <td></td>
                            <td></td>
                            <td><strong>X</strong></td>
                        </tr>
                        <tr>
                            <td>English</td>
                            <td></td>
                            <td><strong>X</strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row fondoNegro">
		<div class="colum1">
			<h1 class="TextoFinal"><strong>Contact me</strong></h1>
		</div>
	</div>
    <div class="row fondoNegro">
        <div class="colum3">
            <p class="TextoFinal TextoFinalbold">Phone number</p>
            <p class="TextoFinal">633 157 215</p>
        </div>
        <div class="colum3">
            <p class="TextoFinal TextoFinalbold">E-mail</p>
            <p class="TextoFinal">microsfelix@gmail.com</p>
        </div>
        <div class="colum3">
            <p class="TextoFinal TextoFinalbold">Postal Code</p>
            <p class="TextoFinal">08901</p>
        </div>
    </div>
</body>
</html>