<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../CSS/estilos.css">
</head>

<footer class="fijo">
    <div class="colum4 imagenPequeña juntarMQ">
        <a href="./en/experience.html">
          <img src="./../img/earth-americas.svg">
        </a>
    </div>
    <div class="colum4 imagenPequeña imagenDerecha">
        <a href="./experiencia.html">
            <img src="./../img/signs-post-solid.svg">
        </a>
    </div>
    <div class="colum4 imagenPequeña">
        <a href="./estudis.html">
            <img src="./../img/school-solid.svg">
        </a>
    </div>
    <div class="colum4 imagenPequeña">
        <a href="./../index.html">
            <img src="./../img/address-card-solid.svg">
        </a>
    </div>
</footer>

<div class="row fondoNegro">
    <div class="colum1">
        <h1 class="TextoFinal"><strong>Experiencia laboral</strong></h1>
    </div>
</div>
</div>
<p>Mi experiencia laboral ha sido unas praticas obligatorias en el centro de Jesuites el Sant Gervasi mientras cursaba el segundo año de grado medio de informatica donde he estado 5 meses de practicas.</p>
<p>En mi estancia laboral estuve ejerciendo el cargo de tecnico informatico donde entre varias funciones tenia la de reparar los portatiles, pantallas tactiles, impresoras i projectores de la institucion</p>        
</div>
<div class="colum1">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.953545957781!2d2.147043811202116!3d41.396815195291204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a29ebbc0255f%3A0xed736df3f5ec3ccd!2sJesu%C3%AFtes%20Sant%20Gervasi%20-%20Infant%20Jes%C3%BAs!5e0!3m2!1sca!2ses!4v1714743460922!5m2!1sca!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="row">
<div class="colum2"> 